body {
  overflow-x: hidden;
  background: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}

.hidden {display: none !important;}

/*
* Header
*/
header {
  padding: 20px 0 0 0;
  background: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header .logo img {
  width: 100%;
}
header .submenu {
  position: relative;
  list-style-type: none;
  width: 50%;
}
header .submenu #img-cart {
  width: 25px;
  margin-top: 15px;
  cursor: pointer;
}

/** cart **/
#cart {box-shadow: 0px 1px 5px 0px #adadad;}
#cart table {border-collapse: collapse;}
#cart table thead tr {background: #f4f4f4;}
#cart table thead th {
  font-size: 11px;
  font-weight: 600;
  border: none;
}
#cart table tbody td img {width: auto;height: 40px;}
#cart table tbody .supprimer-item {
  display: block;
  background-color: #ff5454;
  border-radius: 50%;
  padding: 8px;
  height: 10px;
  line-height: 13px;
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 10px;
  text-align: center;
}

header .submenu #cart {display: none;}
header .submenu:hover #cart {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 8px;
  max-height: 400px;
  min-width: 400px;

  overflow-y: scroll;
}

header .submenu:hover #cart::-webkit-scrollbar {width: 4px;}
header .submenu:hover #cart::-webkit-scrollbar-track {background: #f1f1f1;}
header .submenu:hover #cart::-webkit-scrollbar-thumb {background: #888;}
header .submenu:hover #cart::-webkit-scrollbar-thumb:hover {background: #555;}

/*
* Search form
*/
.search-form {
  display: flex;

  max-width: 700px;
  width: 70%;
  min-width: 450px;
  margin: 30px auto;
  position: relative;
  display: flex;
}

.search-form input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
}

#no_course {
  text-align: center;
  padding: 25px;
}


/*
* Courses list
*/

#courses-list h1 {
  text-align: left;
  width: fit-content;
  margin: 0 auto 25px auto;
  font-size: 30px;
  font-weight: 100;
  padding: 8px 15px;

  position: relative;

  color: #383838;
}
#courses-list h1:after {
  content: "";
  display: block;
  height: 15px;
  width: 100%;
  background: #00B2BD;
  position: absolute;
  bottom: 6px;
  left: 10px;
  z-index: -1;
}

#empty-cart{
  background: #00B2BD;
  color: white;
}

#empty-cart:hover{
  background: #00828a;
  color: white;
  transition: 0.30s;
}

.entete__courses{
  margin-bottom: 30px;
}
.courses__container{
  margin-top: 30px;
  display: grid;
  grid-gap: 25px;
	max-width: 1080px;
	margin: 0 auto;
  padding: 0 10px;
}
.course__item {
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
  transition: all .25s ease-in-out;
}

.course__item:hover{
  box-shadow: 0 -6px 20px -6px rgba(0, 0, 0, 0.25),  0 12px 16px -2px rgba(0, 0, 0, 0.600);
  transform: scale(1.03); 
}

.course__item .course_img {
  height: 120px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.course__item .course_img img {
  width: 100%;
}

.course__item .mark {
  width: 70px;
  height: 15px;
  overflow: hidden;
}
.course__item .mark img {width: 100%;}
.course__item .mark.m_5 img {margin-top: 0px;}
.course__item .mark.m_4 img {margin-top: -15px;}
.course__item .mark.m_3 img {margin-top: -30px;}
.course__item .mark.m_2 img {margin-top: -45px;}
.course__item .mark.m_1 img {margin-top: -60px;}

.course__item .info__card {
  padding: 10px 10px;
  position: relative;
}
.course__item .info__card h4 {
  font-size: 16px;
  font-weight: 700;
}
.course__item .price {
  text-decoration: line-through;
  color: red;
}
.course__item .discount{
  color: black;
  font-weight: bold;
  float: right;
  font-size: 1.25em;
}
.course__item .add-to-cart{
  background: #00B2BD;
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
}
.course__item .add-to-cart:hover {
  background: #00828a;
  color: white;
}

.fa {margin-bottom: 0;margin-right: 8px;}

@media (min-width: 750px) {
  header {
    text-align: left;
  }
}

@media (min-width: 472px) and (max-width: 767px) {
  .courses__container{grid-template-columns: 1fr 1fr;}
 }
@media all and (min-width: 768px) {
  .courses__container{grid-template-columns: 1fr 1fr 1fr;}
}
@media all and (min-width: 949px) {
  .courses__container{grid-template-columns: 1fr 1fr 1fr 1fr;}
}

/*
* Notification
*/
#notification_container {
  position: fixed;
  top: 40px;
  right: 25px;

  width: 200px;
  height: auto;
}

#notification_container .content {
  box-shadow: 0px 1px 5px 0px #adadad;
  background: #b2dbff;
  padding: 8px;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  align-items: center;

  margin: 0 0 15px 0;
}

#notification_container .content img {
  width: 25px;
  height: 25px;
}

#notification_container .content p {
  margin: auto;
  font-weight: 600;
  font-size: 13px;
}

.search-bar:hover{
  border: 2px solid #00B2BD;
  border-radius: 5px;
  transition: 0.08s;
}

/*
* Footer
*/
footer {
  display: block;
  margin-top: 50px;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  top: 0%;
  right: 100%;
  background: #00828a;
  border: 3px solid #000000;
  z-index: 9;
  width: 25%;
  height: 20%;
  left: 25%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
.close {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: .20rem;
  font-size: 1rem;
  color: #000000;
  background: #00d0db;
  border: 1px solid #666666;
}

.close:hover {
  background: #000000;
  color: #ffffff;
}

.recap{
  float: right;
  background: #00B2BD;
  color: white;
  margin-right: 4%;
}

.recap:hover{
  background: #00828a;
  color: white;
  transition: 0.30s;
}

#logo2{
  width: 15%;
  margin: 1%;
}

.order{
  display: flex;
  align-items: flex-start;
  border: 3px solid #00828a;
  background-color: #dfeeed;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2%;
}

.title { 
  font-size: 3rem; 
  line-height: 1.3;  
  letter-spacing: -.1rem; 
  font-family: 'IBM Plex Sans', sans-serif;
}

.main_title{
  font-family: 'IBM Plex Sans', sans-serif;
}

.first-name_name, .living_place, .contact, .credit_card{
  display: flex;
  
}

#first-name, #emailAddress, select{
  margin-right: 20px;
}

.first-name_name input, .living_place input, .contact input, .credit_card input{
  font-family: 'IBM Plex Sans', sans-serif;
}

.first-name_name input:hover, .living_place input:hover, .contact input:hover, .credit_card input:hover{
  background: #c2f9fb;
  transition: 0.30s;
}

#ordering{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 10%;
  }

#first-name, #name, #address, #emailAddress, #phone, #ccn, #country{
  margin-bottom: 5%;
  font-size: 13px;
  border: 2px solid #00828a;
  border-radius: 10px;
  padding: 10px;
}

#valider{
  border-radius: 10px;
  background: #00B2BD;
  color: white;
  align-self: flex-end;
  font-size: 100%;
  height: 14%;
}

#valider:hover{
  background: #00828a;
  color: white;
  transition: 0.30s;
}